.fundo{
    background-image: url(imagens/fundo01.png);
    background-repeat: repeat-y;

    /*background-color: red;*/
    /*background-repeat: repeat-x;*/
    /*background-attachment: fixed;*/
    /*background-position: bottom;*/
}

h1{
    margin-left: 20px;
}

img{
    margin-left: 50px;
    width: 400px;
}